:root {
    --bg-color: #c8df87;
    --accent-color: #a40707;
    --text-color: #333;
    --cell-border-color: #870505;
}

body {
    background-color: var(--bg-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2rem;
    color: var(--accent-color);
    margin: 0;
}

p {
    font-size: 1rem;
    color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#reference-patterns {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.reference-pattern {
    width: 50px;
    height: 50px;
    border: 1px solid var(--accent-color);
    object-fit: cover;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid var(--cell-border-color);
    cursor: pointer;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #870505;
}
